@import './styles/fonts.scss';

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: var(--space-2);
}

.title {
  font-family: "Raleway Bold", sans-serif;
  font-size: var(--space-3);
  text-align: center;
}

.app {
  margin-left: auto;
  margin-right: auto;
  max-width: 608px;
}

.btnTab {
  font-family: "Montserrat Medium";
  font-size: 1.4rem;
}